@font-face {
    font-family: "Engage";
    src: url("../fonts/EngageRegular.otf");
   }

* { 
    margin: 0;
    padding: 0;
    font-family: Berlin Sans FB;
    font-weight: 400;
    font-size: 20px;
}


/*********** général **********/

body{
    background-color: #f7f1f0;
}

h1 {
    font-family: "Engage";
    width: 80vw;
    font-size: 2vw;
}

h3 {
    font-size: 34px;
    margin: 0 0 30px 0;
    color: black;
}

h4 {
    font-size: 30px;
}

form {
    margin: 5px;
}
form > div {
    margin: 10px ;
}
form > div > div {
    margin: 5px;
}
textarea {
    margin: 5px 0px;
}

.green  {
    background-color:#617A43;
    border-color: #617A43;
}
.green:hover {
    background-color:#779651;
    border-color: #779651;
}

/****************************** PAGE D'ACCUEIL ******************************/

* >.index {
    background-image: url(../img/fond.png);
    background-size: 100vw;
}

/**********Titre**********/

.titre {
    color: #617A43;
    padding: 170px 0 0 0;
    margin: 0 5vw 0 5vw;
}

.titre h1 {
    font-size: 7vw;
}

button {
    border: none;
    border-radius: 6px;
    background-color:#617A43;
    padding: 10px 40px;
    color: white;
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 400;
    transition: .2s;
    cursor: pointer;
}

button:hover {
    background-color: #779651;
}

.container {
    display: flex;
    justify-content: space-between;
}

/*Article*/

.Article {
    display: flex;
    margin: 0 5vw 0 5vw;
    flex-wrap: wrap;
}

.Article h2 {
    font-size: 48px;
    text-transform:uppercase;
    color: #617A43;
    margin: 100px 10vw 80px 0;
}

.Article h4 {
    margin: 20px 0;
    font-size: 35px;
}

.Article p {
    font-size: 22px;
    width: 50vw;
    margin-bottom: 100px;
}

.Article button {
    font-size: 23px;
}

.texte1 {
    margin: 40px
}

/************ carousel ***********/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
.fap{
    padding: 33% 0% 0% 0% ;
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 50%;
    min-width: 400px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    letter-spacing: .3.5rem;
    mix-blend-mode: difference;
    color : rgb(255, 113, 78);
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px #333;
    line-height: 6rem;
    user-select: none;
  }
 
  .swiper-container {
      padding: 5% 0% 0% 0%;
    width: 89.1vw;
    height: 35vw;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background: orange;
  }

/********** carte ************/

.mapContainer {
    display: flex;
    height: 60vh;
    width: 60vw;
    box-shadow: 5px;
    margin-top: auto;
    justify-content: center;
    margin: 100px 5vw 100px 5vw ;
  }

.carte-flex{
  display: flex;
}

/********** cartes artisans *********/

.cartes {
    display: flex;
    margin: 100px 5vw 0 5vw;
}

.carte {
    margin:2vw
}

.sous-texte {
    margin: 5px 20px;
}


.carte a {
    color:#617A43;
}

/****************************** PAGE NAVBAR ******************************/

header {
    position: fixed;
    z-index: 1000;
}

nav {
    width: 100vw;
    padding: 25px 0;
    transition: .5s;

}

.bgheader {
    background-color: #f7f1f0;
    padding: 15px 0;
    transition: .5s;
}

.bgheader img{
    width: 100px;
    transition: .5s;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

li a {
 text-transform:uppercase;
 transition: .2s;
}

li a:hover {
    color: #617A43;
}

li img {
    width: 150px;
    transition: .2s;
}

li img:hover {
    transform: scale(1.1);
}

.inscription {
    background-color: #617A43;
    color: white;
    padding: 10px 40px;
    border-radius:6px ;
    transition: .2s;
}

.inscription:hover {
    background-color: #779651;
    color: white;
}


/****************************** PAGE FOOTER ******************************/

footer {
    background-color: #617A43;
}

footer img {
    width: 80px;
    margin: 10px 40px;
}

.nav {
    width: 100vw;
    padding: 25px 0;
    transition: .5s;

}

.nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.sponsor-flex {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.sponsor-flex button:hover {
    background-color: #617A43;
}

.sponsor-flex a{
    font-size: 14px;
    color:#94b966;
}


footer .nav a {
    background-color: #617A43;
    color: white;
    padding: 10px 40px;
    border-radius:6px ;
    transition: .2s;
    font-size: 15px;
}

footer .nav a:hover {
    background-color: #779651;
    color: white;
}

/****************************** PAGE FESTIVAL ******************************/
.GDtitre_1{
    display: flex;
    color: #617A43;
    font-size: 50px;
    font-family: "engage";
    text-align: center;
    padding: 170px 50px 50px 50px;
}
.titre_1{
    display: flex;
    padding: 50px 0px 0px 60px;
    font-size: 45px;
    color: #617A43;

}
.descr_1{
    display: flex ;
    padding: 50px 100px 50px 70px ;
    font-size: 35px;
    text-align: left;
}
.titre_2{
    display: flex;
    width: 50vw;
    padding: 50px 0px 0px 850px;
    font-size: 45px;
    color: #617A43;
}

.descr_2{
    width: 60vw;
    font-size: 35px;
    text-align: right;
    justify-content: space-around;
    padding: 150px 100px 20px 10px ;
  
  }
  .flex-photo_1{
    display: flex;
    padding: 10px 10px 10px 70px ;
  }

.flex-artisan {
    display: flex;
    padding: 50px 0px 50px 40px ;
}
.titre_3{
    display: flex;
    padding: 50px 0px 0px 60px;
    font-size: 45px;
    color: #617A43;
}

.descr_3{
    display: flex ;
    padding: 50px 100px 50px 70px ;
    font-size: 35px;
    text-align: left;
}

.titre_4{
    display: flex;
    padding: 50px 0px 0px 990px;
    font-size: 45px;
    color: #617A43;
}
.descr_4{
    font-size: 35px;
    text-align: right;
    justify-content: space-around;
    padding: 150px 100px 20px 10px ;
  
  }
.flex-photo_2{
    display: flex;
    padding: 10px 10px 10px 70px ;
  }

/****************************** PAGE CONTACT ******************************/

.contact {
    padding: 14vh 5vw 5vh 5vw ;
}

.contact * {
    margin: 8px 0;
}

.contact form label {
    margin-right: 10px;
}

.contact textarea {
    width: 50vw;
    height: 200px;
    padding: 0 5px;
}

/****************************** PAGE ADMIN ******************************/

.admin {
    padding: 20vh 5vw 34vh 5vw ;
}

.admin * {
    margin: 8px 0;
}

/***************************** PAGE PROGRAMME *****************************/

.programme {
    padding: 15vh 5vw 0 5vw ;
}

/****************************** PAGE INSCRIPTION ******************************/

.page-inscription {
    padding: 20vh 5vw 7vw 5vw ;
}

  
