@font-face {
    font-family: "Engage";
    src: url("../fonts/EngageRegular.otf");
    font-weight: normal;
   }

@font-face {
    font-family: "Sansation";
    src: url("../fonts/Sansation/Sansation_Regular.ttf");
    font-weight: normal;
   }

   @font-face {
    font-family: "Sansation";
    src: url("../fonts/Sansation/Sansation_Bold.ttf");
    font-weight: bold;
   }

/*********** général **********/

* { 
    margin: 0;
    padding: 0;
    font-family: Sansation;
    font-size: 20px;
}

body{
    background-color: #f7f1f0;
}

h1 {
    font-family: "Engage";
    font-weight: normal;
    width: 80vw;
    font-size: 3vw;
}

h2 {
    font-family: "Engage";
    font-size: 48px;
    color: #617A43;
    font-weight: normal;
}

h3 {
    font-size: 34px;
    margin: 0 0 30px 0;
    color: black;
}

h4 {
    font-size: 30px;
}

form {
    margin: 5px;
}
form > div {
    margin: 10px ;
}
form > div > div {
    margin: 5px;
}
textarea {
    margin: 5px 0px;
}

button {
    border: none;
    border-radius: 6px;
    background-color:#617A43;
    padding: 5px 20px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    transition: .2s;
    cursor: pointer;
}

button:hover {
    background-color: #779651;
}

.green  {
    background-color:#617A43;
    border-color: #617A43;
}
.green:hover {
    background-color:#779651;
    border-color: #779651;
}

/****************************** PAGE D'ACCUEIL ******************************/

* >.index {
    background-image: url(../img/fond.png);
    background-repeat: no-repeat;
    background-size: 100vw;
}

/**********Titre**********/

.titre {
    color: black;
    padding: 150px 0 0 0;
    margin: 0 5vw 0 5vw;
}

.titre h1 {
    font-size: 8vw;
    line-height : 210px
}

.flex-titre {
    display: flex;
}

.flex-titre h1 {
width: 60vw;
}

.aupuy {
    width: 90vw;
    margin: -10px 0;
    }
    

.flex-titre .festival-desc {
    width: 22vw;
    margin: 60px 0 30px 0;
    }

.flex-titre .festival-desc p {
    margin: 30px 0;
    color:#617A43;
    }

.flex-titre .festival-desc #fleche {
    background-color:#617a4300;
    border: solid 2px #617A43;
    color:#617A43;
    padding: 11px 13px;
    transition: .5s;
    border-radius: 40px;
    }

.flex-titre .festival-desc1 #fleche:hover {
    background-color: #617A43;
    color: white;
    }


.festival-desc1 {
    margin: 60px 5vw 0 5vw;
    }

.festival-desc1 p {
    margin: 30px 0;
    color:#617A43;
    }

.festival-desc1 #fleche {
    background-color:#617a4300;
    border: solid 2px #617A43;
    color:#617A43;
    padding: 11px 13px;
    transition: .5s;
    border-radius: 40px;
    }

.festival-desc1 #fleche:hover {
    background-color: #617A43;
    color: white;
    }

    
.festival-desc1 {
    display: none;
}

.iconflex {
    display: flex;
    align-items: center;
}

.iconflex #ensavoirplus {
    margin: 20px;
    color:#617A43;
}

.grosbouton {
    background-color:#617a4300;
    border: solid 2px #617A43;
    color:#617A43;
    padding: 11px 70px;
    transition: .5s;
    border-radius: 40px;
    font-size: 25px;
}

.grosbouton:hover {
    background-color: #617A43;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
}

.btn {
    cursor: pointer
}

.artisans {
    padding: 100px 5vw 0 5vw;
}

.artisans p {
    font-size: 30px;
    width: 60vw;
    padding: 30px 0 0 0;
}


/**********cartes********/

.cartes {
    display: flex;
    margin: 70px 5vw 0 5vw;
}

.cartes img {
    width: 28vw;
    cursor: pointer;
    transition: .5s;
    border-radius: 50% 20% / 10% 40%;
}

.cartes img:hover {
    transform: scale(0.95);
}

.carte {
    margin: 0 2vw 0 0
}

.sous-texte {
    margin: 5px 80px;
}

h4 {
    font-size: 30px;
}

.sous-texte a {
    color:#617A43;
    position: relative;
    top: 10px;
    left: -12px;
    padding: 5px 15px;
}

.sous-texte a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
.sous-texte a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
.sous-texte a::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background:#617A43;
    z-index: -1;
    transition: transform .3s ease;
    border-radius: 40px;
  }

.sous-texte a:hover {
    color: white;
    transition: .3s
}

.voirartisans {
    padding: 60px 5vw 20px 5vw;
}
  

/************ carousel ***********/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
 
  .swiper-container {
    padding: 70px 0 0 0;
    width: 90vw;
    height: 30vw;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

.swiper-slide .sous-texte {
    background-color:#f7f1f0;
    padding: 10px 30px 20px 30px;
    border-radius: 50% 20% / 10% 40%;
    margin: 250px 0 0 60vw ;
}

.swiper-slide .sous-texte a:hover {
    color: black;
    transition: .3s
}
  
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color:#000;
    opacity: 1;
    background: rgba(0,0,0,0.2);
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background:#617A43;
  }

/********** carte ************/

.mapContainer {
    display: flex;
    height: 60vh;
    width: 90vw;
    box-shadow: 5px;
    margin-top: auto;
    justify-content: center;
    margin: 70px 5vw 100px 5vw ;
  }

.carte-flex{
  display: flex;
}

/****************************** PAGE NAVBAR ******************************/

header {
    position: fixed;
    z-index: 1000;
}

nav {
    width: 100vw;
    padding: 25px 0;
    transition: .5s;

}

.bgheader {
    background-color: #f7f1f0;
    padding: 15px 0;
    transition: .5s;
}

.bgheader img{
    width: 100px;
    transition: .5s;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

li a {
 text-transform:uppercase;
 transition: .2s;
}

li a:hover {
    color: #617A43;
}

li img {
    width: 150px;
    transition: .2s;
}

li img:hover {
    transform: scale(1.1);
}

.inscription {
    background-color: #617A43;
    color: white;
    padding: 10px 40px;
    border-radius:40px ;
    transition: .2s;
}

.inscription:hover {
    background-color: #779651;
    color: white;
}

/***************************** MENU BURGER ******************************/


.header-holder {
    width: 100%;
    background-color: #f7f1f0;
    z-index: 4;
    overflow: hidden;
  }
  
  .burger {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 40px;
    z-index: 5;
    -webkit-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .burger .logo {
    width: 100px;
    display: block;
    order: 1;
  }
  
  .search-mobile {
    /*     display: none; */
    position: absolute;
    top: -5px;
    right: 50px;
    z-index: 6;
  } 
  
  .search-mobile a {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 60px;
    position: relative;
  }
  
  
  .search-mobile a .icon_search {
    background: url("https://yalantis.com/assets/icon-search-eb2d80fde29a4eb86770580f52872b64097df105b39901d39abcea6dbc372969.svg") no-repeat 0 0;
    width: 25px;
    height: 25px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
  }
  
  
  
  .header-nav {
    order: 2;
  }
  
  .header-nav {
    display: none; 
  }
  
  .header-nav.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:#f7f1f0;
    z-index: 10;
    opacity: 1;
    -webkit-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
  }
  
  .header-nav.active .header-nav__inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    height: 100%;
    overflow: auto;
  }
  
  nav.active ul {
    width: 100%;
    text-align: center;
    padding: 0;
    overflow: hidden;
    display: block;
  }
  
  nav.active ul li {
    padding: 10px 0;
  }
  
  nav ul {
    padding: 8px 0 0 0;
    display: flex;
  }
  
  nav ul li {
    padding: 0 0 0 13px;
    list-style: none;
  }
  
  nav ul li a {
    display: inline-block;
    font-family: "BrandonText", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: black;
    text-transform: uppercase;
    padding: 5px 8px;
    letter-spacing: 0.9px;
    position: relative;
    text-decoration: none;
    transition: color .5s ease-in-out;
  }
  
  nav ul li a:hover {
    color:#617A43;
    transition: color .3s ease-in-out;
  }
  
  .device-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 55px;
    height: 50px;
    z-index: 11;
    background-color:#e2dddc;
    width: 45px;
    height: 40px;
    display: block;
  }
  
  
  .device-menu .device-menu__inner {
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .device-menu span {
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color:#617A43;
    top: 5px;
    left: 0;
    /*     -webkit-transform: rotate(45deg);
    transform: rotate(45deg); */
  }
  
  .device-menu span:nth-child(1) {
    top: 0;
    -webkit-transition: rotate, 0.3s;
    transition: rotate, 0.3s;
  }
  
  .device-menu span:nth-child(2) {
    top: 50%;
    /*     -webkit-transform: translate(0, -50%); */
    /*     transform: translate(0, -50%); */
  }
  
  /* .device-menu.open span:nth-child(2) {
  opacity: 0;
  } */
  
  .device-menu span:nth-child(3) {
    top: 100%;
    -webkit-transition: rotate, 0.3s;
    transition: rotate, 0.3s;
  }
  
  .device-menu.open span:nth-child(1) {
    top: 10px;
    right: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .device-menu.open span:nth-child(2) {
    opacity: 0;
  }
  
  .device-menu.open span:nth-child(3) {
    top: 10px;
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  /* @media only screen and (max-width: 1024px) { */
  /*   @media only screen and (max-width: 2000px) {
  .head {
  display: none; 
  }
  
  .head.active {
  display: block;
  }
  
  .device-menu {
  display: block;
  }
  } */

  .header-holder {
    display: none;
}


/****************************** PAGE FOOTER ******************************/

footer {
    background-color: #617A43;
}

footer img {
    width: 80px;
    margin: 10px 40px;
}

.nav {
    width: 98vw;
    padding: 25px 0;
    transition: .5s;

}

.nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    width: 98vw;
}

.footer-flex button:hover {
    background-color: #617A43;
}

.footer-flex a{
    font-size: 14px;
    color:#94b966;
}


.footer-flex .langue {
    display: flex;
    margin : 40px 20px 0 0;
    text-transform: uppercase; 
    color:white;
    font-size: 20px;
}

.footer-flex .langue a {
    text-transform: uppercase; 
    color:white;
    font-size: 20px;
    font-weight: normal;
    margin: 0 4px 0 4px;
}

.footer-flex .footer-button {
    display: flex;
}


footer .nav a {
    background-color: #617A43;
    color: white;
    padding: 10px 40px;
    border-radius:6px ;
    transition: .2s;
    font-size: 15px;
}

footer .nav a:hover {
    background-color: #779651;
    color: white;
}

.footer-flex  .mention-map {
    margin : 40px 0 0 20px;
}

.footer-flex  .mention-map a {
    color: white;
    font-size: 17px;
    font-weight: 300;
}

/****************************** ALL PAGE ******************************/

.allpage {
    padding: 20vh 5vw 5vh 5vw;
}

/****************************** PAGE FESTIVAL ******************************/
.GDtitre_1{
    display: flex;
    color: #617A43;
    font-size: 8.7vh;
    font-family: "engage";
    text-align: center;
    padding: 26.6vw 8.9vh 7.8vw 8.9vh;
}
.titre_1{
    display: flex;
    padding: 7.8vw 0vw 0vw 10.7vh;
    font-size: 8.05vh;
    color: #617A43;

}
.descr_1{
    display: flex ;
    padding: 7.8vw 17.8vh 7.8vw 12.5vh ;
    font-size: 6.2vh;
    text-align: left;
}
.titre_2{
    display: flex;
    text-align: center;
    padding: 5VW;
    font-size: 8.05vh;
    color: #617A43;
}
.photo{
    display: flex;
    width: 100vw;
}
.descr_2{
    display: flex;
    width: 55vw;
    font-size: 6.2vh;
    text-align: center;
    padding: 4vw ;
  
  }
  .descr_2_2{
      display: none;
  }
  .flex-photo_1{
    display: flex;
    height: 30vw;
    width: 45vw;
    padding: 1.5vw 1.1vh 1.5vw 11.5vh ;
  }

.flex-artisan {
    display: flex;
    padding: 50px 0px 50px 40px ;
}
.titre_3{
    display: flex;
    text-align: center;
    padding: 10vw;
    font-size: 8.05vh;
    color: #617A43;
}

.descr_3{
    display: flex ;
    padding: 50px 100px 50px 70px ;
    font-size: 6.2vh;
    text-align: left;
}

.titre_4{
    display: flex;
    text-align: center;
    padding: 3vw;
    font-size: 8.05vh;
    color: #617A43;
}
.descr_4{
    display: flex;
    width: 55vw;
    font-size: 6.2vh;
    text-align: center;
    padding: 4vw ;
  
  }
  .descr_4_2{
      display: none;
  }
.flex-photo_2{
    display: flex;
    height: 30vw;
    width: 45vw;
    padding: 7.5vw 1.1vh 1.5vw 11.5vh ;
  }
/****************************** PAGE CLASS ******************************/

.pasdev {
    font-size: 15px;
}

/****************************** PAGE CONTACT ******************************/

.contact {
    padding: 14vh 5vw 5vh 5vw ;
}

.contact * {
    margin: 8px 0;
}

.contact form label {
    margin-right: 10px;
}

.contact textarea {
    width: 50vw;
    height: 200px;
    padding: 0 5px;
}

/****************************** PAGE ADMIN ******************************/

.admin {
    padding: 0 5vw 5vh 5vw ;
}

/****************************** PAGE ADMIN CONNEXION ******************************/

.admin_connexion {
    padding: 20vh 5vw 0 5vw ;
}

.admin_connexion * {
    margin: 8px 0;
}

.admin_connexion ul {
    list-style-type: none;
    padding: 0;
}

.admin_connexion h3 {
    font-weight: 400;
}

/***************************** PAGE EVENEMENT *****************************/

.evenement {
    padding: 15vh 5vw 0 5vw;
}
.evenement li {
    list-style-type: none;
    padding: 5px 0px;
}
.evenement h1 {
    margin-top: 10px;
}
.evenement h2 {
    font-size: 150%;
    margin-top: 10px;
}
.evenement h3 {
    margin-top: 10px;
}
.evenement div {
    margin: 20px 0px;
}

/****************************** PAGE CLASS ******************************/

.flexarticle {
    display: flex;
    padding-bottom: 20px;
}

.flexarticle .articletexte {
    margin: 0 20px;
    width: 50vw;
}

.flexarticle img {
    height: 45vh;
}

.flexarticle a {
    font-size: 16px;
}

/****************************** PAGE INSCRIPTION ******************************/

.page-inscription {
    padding: 0 5vw 5vh 5vw ;
}
/****************************** PAGE ajouter_participant ******************************/

.ajouter_participant {
    padding: 20vh 5vw 37.6vw 5vw ;
}
/****************************** PAGE ajouter_event ******************************/

.ajouter_event {
    padding: 20vh 5vw 37.6vw 5vw ;
}
/****************************** PAGE ajouter_stand ******************************/
.ajouter_stand {
    padding: 20vh 5vw 37.6vw 5vw ;
}
/****************************** PAGE ajouter_boutique ******************************/
.ajouter_boutique{
    padding: 20vh 5vw 37.6vw 5vw ;
}
/****************************** PAGE modifier_boutique ******************************/
.modifier_boutique {
    padding: 20vh 5vw 30.7vw 5vw ;
}
/****************************** PAGE modifier_event ******************************/
.modifier_event {
    padding: 15vh 5vw 3vw 5vw ;
}

/****************************** PAGE modifier_stand ******************************/
.modifier_stand {
    padding: 15vh 5vw 30.7vw 5vw ;
}
/****************************** PAGE supp_stand ******************************/
.supp_stand {
    padding: 20vh 5vw 37.6vw 5vw ;
}
/****************************** PAGE supp_boutique ******************************/
.supp_boutique {
    padding: 20vh 5vw 37.6vw 5vw ;
}

/****************************** PAGE ERROR 404 ******************************/
.error {
    padding: 12vh 5vw 5vh 5vw ;
}

.error * {
    margin: 10px 0 10px 0;
}

.error_404 {
    font-size: 17vw;
}

/****************************** responsive ******************************/

@media screen and (max-width:1200px) {

    .navbar {
        display: none;
    }

    .header-holder {
        display: block;
    }

    .nav ul {
        display: none;
    }

    /******** page d'accueil *********/

    .festival-desc {
        display: none;
    }

    .titre h1 {
        line-height:normal;
    }

    .aupuy {
        margin-bottom: 20px;
    }

    .festival-desc1 {
        display:block;
    }

    .artisans {
        padding-top:40px ;
    }

    .artisans p {
        width: 90vw;
        font-size: 20px;
    }

    .cartes {
        display:block;
    }

    .cartes img {
        width: 70vw;
        margin: 30px;
    }

    .swiper-container {
        height: 400px;
    }

    .swiper-slide .sous-texte {
        margin: 27vh 0 0 60vw ;
    }

    .swiper-slide .sous-texte h4 {
        font-size: 20px;
    }

    .swiper-slide .sous-texte p, a {
        font-size: 14px;
    }
      /* page festivale*/
     .GDtitre_1{
        font-size: 6vh;
        text-align: center;
    }

    .titre_1{
        font-size: 6vh;
    }

    .descr_1{
        font-size: 3vh;
        text-align: center;
    }

    .titre_2{
        font-size: 6vh;
    }

    .descr_2{
        font-size: 3vh;
       display: none;
    }

    .descr_2_2{
        display: flex;
        width: 100vw;
        font-size: 3vh;
        text-align: center;
        padding: 4vw ;
    }

    .flex-photo_1{
        width: 100vw;
        padding: 1.5vw 1vh 1.5vw 15vh ;
    }

    .titre_3{
        font-size: 6vh;
    }

    .descr_3{
        display: flex;
        width: 100vw;
        font-size: 3vh;
        text-align: center;
        padding: 4vw ;
    }

    .titre_4{
        font-size: 6vh;
    }
    
    .descr_4{
        font-size: 3vh;
       display: none;
    }

    .descr_4_2{
        display: flex;
        width: 100vw;
        font-size: 3vh;
        text-align: center;
        padding: 4vw ;
    }

    .flex-photo_2{
        width: 100vw;
        padding: 1.5vw 1vh 1.5vw 15vh ;
    }
}
