

   
   
  .mapContainer {
    display: flex;
    height: 100vh;
    width: 100vw;
    box-shadow: 5px;
    margin-top: auto;
    justify-content: center;
    padding: 2% 2% 2% 2% ;

  }
.carte-flex{
  display: flex;

}
